body,
html {
	width:100%;
	height:100%;
	overflow-x: hidden;
	background-color: black;
	font-family: 'Lato', sans-serif;
	overflow-y: hidden;
}
.title{
    color: aquamarine;
    margin-top: 0;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#search-container {
	width: 70%;
	margin: 0 0 0 50px;
}


#map-list-container {
	display: -webkit-flex;
	display:flex;
	margin:10px ;
	height: 100%;
	width: 100%;
}

#list-view {
	width: 20%;
	height: 500px;
	overflow: auto;
}

#map {
	width: 80%;
	height: 90%;
	border: solid 5px black;
}
.search{
	cursor: e-resize;
	margin: 0;
	color: white;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
}

.list-view-item {
	margin: 0 0 15px 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: white;
	font-weight: 600;
	cursor:pointer;
}

#floating-panel {
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}
.place{
    font-size: 20px;
    color:cadetblue;
    font-weight: 900;
}
.address{
	margin: 5px 0;
}
.window-container{
	margin: 5px 0 0 0;
	font-weight: 900;
    color: darkred;
    font-size: 16px;
}

.error{
	color: red;
	font-weight: 900px;
}

.fs-info{
    color: black;
    font-weight: 400;
}

.type{
   margin-top: 5px; 
}

@media only screen and (max-width: 550px) {
    .title{
        font-size: 20px;
    }
    
    #floating-panel{
        width: 40%;
        top: 18%;
        right: 0%;
    }
	#list-view {
		padding: 0;
	}

	.list-view-item {
		font-size: 16px;
	}

	#map-list-container {
		margin: 0px ;
	}

	#search-container {
		margin:0;
	}
}